<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><a href="{% url 'post:list' %}">뒤로가기</a></p>

    {% if post.anonymity %}
      <h2>익명 글입니다</h2>
      <h2>익명 내용입니다</h2>
      <h2>{{ post.created_at }}</h2>
      <p>익명</p>
      <br />
    {% else %}
      <h2>{{ post.title }}</h2>
      <h2>{{ post.content }}</h2>
      <h2>{{ post.created_at }}</h2>
      <br>
      <p>{{ post.author.nickname }}</p>
      <br />
    {% endif %}

    <!-- 작성자에게만 보이게 수정 -->
    {% if user == post.author %}
    <a href="{% url 'post:update' post.id %}">수정하기</a>
    <a href="{% url 'post:delete' post.id %}">삭제하기</a>
    {% endif %}

    <p>공감 {{ post.like.count }}개</p>
    <p>스크랩 {{ post.scrap.count }}개</p><br>

    <!-- 좋아요 버튼 -->
    {% if request.user in post.like.all %}
      <a href="{% url 'post:remove-like' post.id %}"><input type="button" value="공감취소"></a>
      <hr>
    {% else %}
      <a href="{% url 'post:add-like' post.id %}"><input type="button" value="공감"></a>
      <hr>
    {% endif %}

    <!-- 스크랩 버튼 -->
    {% if request.user in post.scrap.all %}
      <a href="{% url 'post:remove-scrap' post.id %}"><input type="button" value="스크랩취소"></a>
      <hr>
    {% else %}
      <a href="{% url 'post:add-scrap' post.id %}"><input type="button" value="스크랩"></a>
      <hr>
    {% endif %}

    <!-- 댓글 -->
    <b>댓글</b><br><br>
    {% for comment in post.comments.all %}
        {{ comment.content }} -

      {% if comment.anonymity %}
        익명 -
      {% else %}
        {{ comment.author.nickname }} -
      {% endif %}
      {% load humanize %}
          {{ comment.created_at|naturalday }}<br>

      {% if user == comment.author %}  
        <a href="{% url 'post:delete-comment' comment.id %}">삭제하기</a>
        <br><br>
      {% endif %}  

    {% empty %}
      댓글이 없습니다
      
    {% endfor %}
    <br><hr>

    <form method="POST" action="{% url 'post:create-comment' post.id %}">
      {% csrf_token %}
      댓글 - <input type="text" name="content"><input type="submit" value="작성">
      <input type="checkbox" name="anonymity">익명
    </form>
    
  </body>
</html>
