<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>연락처 수정</h2>
    <form method="POST" action="{% url 'update' phone.id %}">
      {% csrf_token %} 이름 : <br /><input
        type="text"
        value="{{ phone.name }}"
        name="name"
      /><br /><br />
      번호 : <br /><textarea name="phone_num">{{ phone.phone_num }}</textarea
      ><br /><br />
      이메일 : <br /><textarea name="email">{{ phone.email }}</textarea
      ><br /><br />
      <input type="submit" value="수정" />
    </form>
  </body>
</html>
